node_modules/
public/js
.calva/
/target
/checkouts
/src/gen
.clj-kondo/
pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store
.portal
.hgignore
.hg/
.lsp
.cpcache
resources/public/js
resources/config.edn